.Editbox {
  margin: 12px 12px 12px 12px;
  padding: 12px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: white;
  overflow-y: auto;
}

.ButtonEditbox {
  padding: 4px 12px;
  margin: 36px 8px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: transparent;
}

.SubmitBtn {
  color: green;
  border: 1px solid green;
}

.SubmitBtn:disabled {
    color: #ccc;
    border: 1px solid #ccc;
}

.CancelBtn {
  color: red;
  border: 1px solid green;
}
